@import './constants.scss';

.App {
  font-family: 'Lato', 'Open Sans', sans-serif;
  text-align: center;
  color: $text_darker;
  // background-color: $black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-size: 16px;
}

.App-nav {
  margin: 100px auto 20px;
  width: 100%;
  max-width: 1024px;
  padding: 20px 0;
  display: flex;
  flex-direction: row;

  .App-nav-container {
    width: 50%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;

    .App-logo-container {
      width: 200px;
      height: 70px;
      margin: auto 0 auto 0;
      // border: 1px solid white;
      // border-radius: 5px;
    }

    .App-logo {
      height: 100%;
      pointer-events: none;
      margin: auto auto auto -100px;
    }

    span {
      margin: auto auto 0 0;
      padding: 0;
      font-size: 90px;
      color: $text;
      font-weight: 700;
      text-align: left;
    }

    .Links {
      margin-top: 10px;
      font-size: 30px;
    }

    .Links span {
      font-size: 24px;
      color: $text_darker;
    }

    .link {
      font-weight: 100;
      text-decoration: none;
      font-size: 20px;
    }

    .explanation {
      color: $text_darker;
      font-weight: 100;
      margin-top: 20px;
      text-align: left;
      font-size: 16px;
    }
  }

  .App-nav-hero-container {
    flex-grow: 1;
    display: flex;
  }

  .Hero-image {
    width: 200px;
    margin: auto 100px auto auto;
    transform: scale(2.5);
  }
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .App-nav {
    width: calc(100% - 40px);
  }

  .App-nav-container {
    padding: 0;
  }
}

.App-link {
  color: $kin;
}

.App-body {
  padding: 30px;
  flex-grow: 1;
  // background-color: $black;

  .App-body-container {
    margin: auto;
    max-width: 1024px;
  }
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .App-body {
    padding: 20px;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.LoaderFullScreen {
  background-color: rgba(0, 0, 0, 0.248);
  -webkit-animation: fade-in 0.5s 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  display: flex;
  height: 100vh;
  width: 100vw;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 999;
  color: $kin_dark;

  div {
    margin: auto;
  }

  svg {
    transform: scale(5);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
