/* colors */
$white: #ffffff;
$white_dark: #dbdbdb;
$black: #000318;
$gray_dark: rgba(38, 38, 38, 1);
$kin: #6f41e8;
$kin_light: rgb(104, 85, 151);
$kin_dark: #39005a;
// $background: #15005a;
$background: rgb(11, 15, 26);
$background_lighter: rgb(17, 24, 39);
$background_purple: rgba(131, 52, 168, 0.2);
$background_red: rgba(233, 7, 7, 0.253);
$text_darker: rgb(138, 153, 173);
$text: rgb(226, 232, 240);

$red: red;
$red_dark: rgb(153, 8, 8);
$green: green;
$border: rgba(213, 199, 238, 0.205);

/* others */
$mobile-breakpoint: 770px;
$small-screen-breakpoint: 1440px;
