/* colors */
$white: #ffffff;
$white_dark: #dbdbdb;
$black: #000318;
$gray_dark: rgba(38, 38, 38, 1);
$kin: #6f41e8;
$kin_light: rgb(104, 85, 151);
$kin_dark: #39005a;
$background: #15005a;
$background_dark: rgba(46, 24, 107, 0.377);
$red: red;
$red_dark: rgb(153, 8, 8);
$green: green;

/* others */
$mobile-breakpoint: 770px;
$small-screen-breakpoint: 1440px;
