@import './constants.scss';

.Kin {
  margin: auto;
  width: 100%;
  padding: 0;
  text-align: left;

  .Kin-status {
    border-radius: 5px;
    border: 1px solid $border;
    margin: 0 auto 20px;
    text-align: center;
    width: calc(100% - 40px);
    padding: 40px 20px;
    transition: all 0.4s 0.5s;
    color: $text_darker;
    background-color: $background_red;

    &.up,
    &.hasAppIndex {
      background-color: $background_purple;
    }
  }

  .Kin-link {
    color: $text_darker;

    &:visited {
      color: $text_darker;
    }
  }

  .Kin-action-container {
    margin-bottom: 20px;
    border-radius: 5px;
    // border: 1px solid $white;
    background-color: $background_lighter;
    color: $text_darker;
  }

  .Kin-action-trigger {
    background-color: $background_purple;
    cursor: pointer;
    padding: 40px;
    border: 1px solid $border;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
  }

  .Kin-action-title {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .Kin-action-subTitle {
    margin: 0 0 5px;
  }

  .Kin-action {
    border-radius: 0 0 5px 5px;
    width: 100%;
    padding: 40px;
    border: 1px solid $border;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    box-sizing: border-box;

    .links {
      margin: 0 0 20px;
    }
  }

  .Kin-action-input-container {
    margin: auto auto 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .Kin-action-input-nested {
    min-width: 100%;
    padding-top: 10px;
    padding-left: 30px;
  }

  .Kin-action-add-input {
    margin: -20px 0 20px 0;
    color: gray;
    cursor: pointer;
  }

  .Kin-action-label {
    margin: auto 10px auto 0;
    min-width: 200px;
  }

  .Kin-action-input {
    box-sizing: border-box;
    margin: auto auto auto 0;
    border-radius: 5px;
    padding: 5px;
    min-width: 250px;
    max-width: 500px;
    background-color: $background_purple;
    color: $text_darker;
  }

  .Kin-action-input-option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: $background_purple;
    color: $text_darker;
  }

  .Kin-action-buttons {
    display: flex;
    flex-direction: row;
  }

  .Kin-action-button {
    // background-color: $kin_dark;
    border: 1px solid $border;
    border-radius: 5px;
    background-color: $background_purple;
    color: $text_darker;
    padding: 20px 30px;
    cursor: pointer;
    transition: all 0.2s;
    margin-right: 10px;
    // border: 1px solid $white;

    &:hover {
      background-color: $background;
    }
  }

  .Kin-action-display {
    margin: 20px 0 0;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .Kin-section {
    margin: 30px 0 20px;
  }

  .Kin-explanation {
    // border: 1px solid $white;
    color: $text_darker;
    font-weight: lighter;
    padding: 40px;
    border-radius: 5px;
    margin: 20px auto;
    background-color: $background_lighter;
    border: 1px solid $border;

    .bold {
      font-weight: bold;
    }
  }

  .KRELinks {
    margin: -20px 0px 20px;
  }

  input,
  select,
  option {
    font-size: 14px;
  }

  // @solana/wallet-adapter overrides

  .wallet-adapter-dropdown {
    width: 100%;
  }
  .wallet-adapter-button,
  .wallet-adapter-button-trigger {
    margin-bottom: 20px;
    padding: 32px;
    width: 100%;
    text-align: center;
  }
}
