@import './constants.scss';

.Links {
  font-size: 16px;

  .link {
    color: $text_darker;
    cursor: pointer;
    text-decoration: underline;

    &:visited {
      color: $text_darker;
    }
  }

  .link.darkMode {
    color: $text_darker;

    &:visited {
      color: $text_darker;
    }
  }
}
