@import './constants.scss';

.Links {
  .link {
    color: $white_dark;
    cursor: pointer;
    text-decoration: underline;

    &:visited {
      color: $white_dark;
    }
  }

  .link.darkMode {
    color: $white_dark;

    &:visited {
      color: $white_dark;
    }
  }
}
