@import './constants.scss';

.Toggle {
  width: 100%;
  margin-bottom: 20px;

  .Toggle-title {
    text-align: left;
  }

  .Toggle-options {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    transition: all 0.4s;
    border: 2px solid rgb(31, 41, 55);
    // background-color: $background_dark;
    border-radius: 5px;
  }

  .Toggle-option {
    box-sizing: border-box;
    transition: all 0.4s;
    padding: 40px 20px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    background-color: $background_lighter;
    // border-left: 1px solid $white;

    &:hover {
      background-color: $background_purple;
      color: $text_darker;
    }

    &:first-of-type {
      border-radius: 5px 0 0 5px;
      border-left: none;
    }
    &:last-of-type {
      border-radius: 0 5px 5px 0;
    }

    &:not(:last-of-type) {
      border-right: 1px solid $border;
    }

    &.selected {
      background-color: $background_purple;
      color: $text_darker;
      pointer-events: none;
    }
  }
}
